.app {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 100vh;

    background: var(--dark-blue--very-dark);

    font-weight: var(--font-weight--regular);
    font-size: 1rem;
    font-family: JosefinSans, serif;
    color: var(--primary-white);
}
