:root {
    --font-weight--regular: 400;
    --font-weight--bold: 700;
    --font-size: 18px;
    font-size: var(--font-size);
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: JosefinSans;
    src: url('../fonts/JosefinSans-Regular.ttf ') format('truetype');
}

@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: JosefinSans;
    src: url('../fonts/JosefinSans-Bold.ttf ') format('truetype');
}
